@{
    string ui = ViewBag.Ui;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @if (ui == "kendo")
    {
        <link rel="stylesheet" type="text/css" href="//kendo.cdn.telerik.com/2016.1.412/styles/kendo.common.min.css" />
        <link rel="stylesheet" type="text/css" href="//kendo.cdn.telerik.com/2016.1.412/styles/kendo.default.min.css" />
    }
    else if (ui == "bootstrap")
    {
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    }

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="container k-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval")

    @if (ui == "kendo")
    {
        <script src="//kendo.cdn.telerik.com/2016.1.412/js/kendo.ui.core.min.js"></script>
    }
    else if (ui == "bootstrap")
    {
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>
